html,
.card {
    background-image: linear-gradient(to bottom right, rgb(73, 73, 252), #ce00ce);
        min-height: 100%;
        min-width: 100%;
          
        width: auto;
        height: auto;
          
        position: relative;
        top: 0;
        left: 0;
}

.container-fluid {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

.siteInfo {
    padding: 5%;
}

.title {
    text-align: center;
    font-size: 10.0vw;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5%;
}

.description {
    text-align: center;
    font-style: italic;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.5vw;
}

.buttonCenter {
    text-align: center;
    padding: 5%;
}

.startApp {
    background-color: transparent;
    border-radius: 20px;
    font-size: 2.0vw;
}

.startApp:hover {
    background-color: rgb(73, 73, 252);
    border-color:white;
}

.social-media {
    text-align: center;
    font-size: 2.0vw;
}

.social-media i {
    color: black;
}

.social-media a:hover,
.a-social-b a:hover{
    background-color:#000000;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    transition: all ease 0.5s;
}

.social-media a:hover i,
.a-social-b a:hover i{
    color: #FFFFFF;
    transition: all ease 0.5s;
}

.a-social-b {
    position: fixed;
    top: 5%;
    right: 0px;
    transform: translateY(-50%);
}

.a-social-b a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    height: 5%;
    padding: 0px;
    margin: 0px;
    line-height: 0px;
    background-color: #FFFFFF;
    border: 1px solid #cbcbcb;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

.a-social-b i{
    color: #2b2b2b;
    font-size: 20px;
}