html {
    background-image: linear-gradient(to bottom right, #ce00ce, rgb(73, 73, 252));
        /* Set rules to fill background */
        min-height: 100%;
        min-width: 1024px;
        
        /* Set up proportionate scaling */
        width: 100%;
        height: auto;
        
        /* Set up positioning */
        position: fixed;
        top: 0;
        left: 0;
}

button {
    border: 5px solid;
    background-color: cyan;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 39px;
    width: 50px;
}

.songInfo,
.startApp {

}

.trackList {
    display: flex;
    flex-direction: left;
    align-items: center;
    margin-left: 15%;
    flex-wrap: wrap;
}

.songInfo {
    display: flex;
    flex-direction: right;
    align-items: center;
    margin-right: 15%;
    flex-wrap: wrap;
}